body {
  background-color: rgb(230, 217, 217);
  font-family: Arial, sans-serif;
}

button {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
}

button:hover {
  background-color: #4caf50; /* Green */
  color: white;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card {
  width: 50%;
  margin: 10px;
  padding: 50px;
  border: #4caf50 1px;
  box-shadow: 5px 5px 20px rgb(56, 56, 56);
  border-radius: 25px;
}
